<app-navbar></app-navbar>
<router-outlet></router-outlet>

<!--footer -->
<footer class="site-footer" id="lc-footer">
    <div class="container">
      <hr>
      <div class="row">

        <div class="col-sm-8 copyright">
          <span>Copyright © 2018 CollaboCode</span>
          <span class="hide-too-small">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Designed by Xinyu(Aaron) Zhang</span>
        </div>

        <div class="text-right col-sm-4 region-us">

          <div class="links">
            <a href="/support/">Contact Us</a>
            &nbsp;|&nbsp;

              <span class="hidden-xs hidden-sm" id="Join_LeetCode">
                <a href="/jobs/">Jobs</a>
                &nbsp;|&nbsp;
              </span>


            <span class="hidden-xs hidden-sm" id="Join_LeetCode">
              <a href="/bugbounty/">FAQ</a>
              &nbsp;|&nbsp;
            </span>
            <a href="/faq/">Privacy Policy</a>
          </div>
        </div>
      </div>

    </div>
  </footer>
