<div class="container">
  <!--jumbotron-->
  <div class="jumbotron jumbotron-fluid" style="margin-top:30px; border-radius:10px">
    <div class="container">
      <h1 class="display-4">Create new Coding Questions</h1>
      <p class="lead">Here you can create your own challenging coding question.</p>
    </div>
  </div>

  <!--new problem form-->
  <form #formRef="ngForm">
  <div class="form-group">
    <label for="problemName">Problem Name</label>
    <input type="text" class="form-control" id="problemName" name="problemName"
           placeholder="Input your problem name" required
           [(ngModel)]="newProblem.name">
  </div>
  <div class="form-group">
    <label for="problemDesc">Problem Description</label>
    <input type="text" style="height:300px" class="form-control" id="problemDesc" name="problemDesc"
           placeholder="Input your problem description" required
           [(ngModel)]="newProblem.desc">
  </div>
  <div class="form-group">
    <label for="difficulty">Difficulty</label>
    <select class="form-control" id="difficulty" name="difficulty"
           [(ngModel)]="newProblem.difficulty">
           <option *ngFor="let difficulty of difficulties" [value]="difficulty">
              {{difficulty}}
           </option>
    </select>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button type="submit" class="btn btn-primary pull-right bottom"
              (click)="addProblem()">Submit</button>
    </div>
  </div>
</form>

</div>
